<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Register</title>
</head>
<body>
<form th:action="@{/api/v1/auth/register}" method="post">
    <div><label> User Name : <input type="text" name="username"/> </label></div>
    <div><label> Password: <input type="password" name="password"/> </label></div>
    <div><label> Role:</label>
        <select name="role"/>
            <option value="CUSTOMER">Customer</option>
            <option value="ADMIN">Admin</option>
        </select> </div>
    <div><label> First Name: <input type="text" name="firstName"/> </label></div>
    <div><label> Last Name: <input type="text" name="lastName"/> </label></div>
    <div><label> Address: <input type="text" name="address"/> </label></div>
    <div><input type="submit" value="Register"/></div>
</form>
</body>
</html>